body{ width:900px; ;  margin:0 auto; font-family:"Trebuchet MS", Arial, Helvetica, sans-serif; font-size:13px;  }

*{ padding:0; margin:0;}

#LZW > div {padding:20px 0;}
#LZW #form{padding:20px 0; border-bottom:#000 dotted 1px;}
#LZW .bt{ background:#222; border-radius:3px; color:#fff; text-decoration:none; width:100px; text-align:center; line-height:35px; height:35px; display:block; margin-top:10px;    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset; border-color: #151515 #151515 #000000;  border-width:1px; border-style:solid; }
#LZW h1{ margin-bottom:20px; font-size:25px;}
#LZW .valCompresse{ width:880px;; display:block; border:#000 solid 1px;  padding:10px; height:100px;  }