<!DOCTYPE html>
<html data-ng-app="app" ng-strict-di>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no" />
        <title >Compression</title>
        <script src="../../src/compression/LZW.js"></script>
        <script src="./content/angular.js"></script>
        <script src="./content/LZW.js"></script>
        <link href="./content/styles.css" rel="stylesheet" />
    </head>
    <body>
        <section>
            <h1>Compression LZW </h1>
            <div class="controller" ng-controller="Lzm" >
                <textarea id="valCompresse"   type="texte"  ng-model="val.compress"></textarea>
                <a class="bt"   ng-click="compress(val.compress)" href="#" >Compresse </a>
                <br/>
                <textarea  id="valCompresse"  type="texte"  ng-model="val.uncompress"></textarea>
                <a class="bt" ng-click="uncompress(val.uncompress)" href="#" >Uncompress </a>
                <br/>
                <div> {{result.table}}</div>
                <br/>
                <div>size (bit)  {{result.size}}</div>
                <div> sizeCompress  (bit)  {{result.sizeCompress}}</div>
            </div>
        </section>

    </body>
</html>